@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg: rgba(248,248,255,1.0);
        --color-heading: rgba(30,30,30,1.0);
        --color-text: rgba(30,30,30,1.0);
        --color-pill-text: rgba(10,10,10,1.0);
        --color-pill-bg: rgba(240,234,214,1.0);
        --color-primary-fill: rgba(216,191,216,1.0);
        --color-primary-fill-hover: rgba(255,191,0,1.0);
        --color-secondary-fill: rgba(216,191,216,1.0);
        --color-secondary-fill-hover: rgba(30,30,30,1.0);
        --color-tertiary-fill: rgba(30,30,30,1.0);
        --color-tertiary-fill-hover: rgba(216,191,216,1.0);
        --color-outline-fill: rgba(0,127,255,1.0);
        --color-lyrics-bg: rgba(168,195,188,1.0);
        --color-input-fill: rgba(192,192,192,1.0);
        --color-bottom-border: rgba(240,234,214,1.0);
        --opacity-sun: 1;
        --opacity-day: 1;
        --opacity-moon: 0;
        --opacity-night: 0;
        --offset: -57%;
        --bible-bg: rgba(248, 248, 255, 1.0);
        --bible-text: rgba(18, 18, 18, 1.0);
        --bible-subtle-text: rgba(168, 195, 188, 1.0);
        --bible-pill: rgba(168, 195, 188, 1.0);
        --bible-pill-text: rgba(253, 253, 253, 1.0);
        --bible-pill-bg: rgba(168, 195, 188, 1.0);
        --bible-pill-dark: rgba(124, 140, 136, 1.0);
        --bible-pill-dark-hover: rgba(168, 195, 188, 1.0);
        --bible-top-border: rgba(192, 192, 192, 0.15);
      }

    [data-theme='dark'] {
        --color-bg: rgba(10,10,10,1.0);
        --color-heading: rgba(192,192,192,1.0);
        --color-text: rgba(255,255,255,1.0);
        --color-pill-text: rgba(10,10,10,1.0);
        --color-pill-bg: rgba(192,192,192,1.0);
        --color-primary-fill: rgba(216,191,216,1.0);
        --color-primary-fill-hover: rgba(255,191,0,1.0);
        --color-secondary-fill: rgba(216,191,216,1.0);
        --color-secondary-fill-hover: rgba(255,255,255,1.0);
        --color-tertiary-fill: rgba(255,255,255,1.0);
        --color-tertiary-fill-hover: rgba(216,191,216,1.0);
        --color-outline-fill: rgba(255,228,181,1.0);
        --color-lyrics-bg: rgba(168,195,188,1.0);
        --color-bottom-border: rgba(240,234,214,0.15);
        --opacity-sun: 0;
        --opacity-day: 0;
        --opacity-moon: 1;
        --opacity-night: 1;
        --offset: -10%;
        --bible-bg: rgba(18, 18, 18, 1.0);
        --bible-text: rgba(248, 248, 255, 1.0);
        --bible-subtle-text: rgba(192, 192, 192, 1.0);
        --bible-pill: rgba(30, 30, 30, 1.0);
        --bible-pill-text: rgba(192, 192, 192, 1.0);
        --bible-pill-bg: rgba(18, 18, 18, 1.0);
        --bible-pill-dark: rgba(30, 30, 30, 1.0);
        --bible-pill-dark-hover: rgba(18, 18, 18, 1.0);
        --bible-top-border: rgba(192, 192, 192, 0.05);
    }
      
    html {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
    }

    html, body, #root {
        @apply h-full w-full
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Edge */
      }
      
      .scrollbar-hide {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
      }

}